<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="AuthToken" value="abcdefg" />
		<add key="ServiceUrl" value="http://localhost:1173" />
		<add key="ApiPath" value="/GameAPIDS/ExecuteAction" />
	</appSettings>
	<startup> 
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
	</startup>
</configuration>